--index-url https://pypi.python.org/simple/

ipython
sphinx
sphinx-autobuild
sphinxcontrib-plantuml
recommonmark
sphinx-rtd-theme
pytest-bdd<4.0.0
pytest-cov
pytest-mock
pytest-catchlog
pytest-subtests
pytest-twisted
coverage
pytest-runner
pytest
jinja2
mock
-e .
